# Ignore raw data and large files
data_raw/
*.edf
*.npy
*.pkl

# Ignore preprocessed outputs
data_pp/
*.npy
*.pkl

# Ignore figures/plots
figures/
*.png
*.jpg
*.svg

.ipynb_checkpoints/
.notebooks/


# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual env
.venv/
env/


# Ignore logs if they get large
logs/
connectivity/connectivity_results/00_epilepsy/aaaaaanr/s002_2009/02_tcp_le/aaaaaanr_s002_t001_connectivity_metadata.json
