# Ignore raw data and large files
data_raw/
*.edf
*.npy
*.pkl

# Ignore preprocessed outputs
data_pp/
*.npy
*.pkl

# Ignore figures/plots
figures/
*.png
*.jpg
*.svg

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual env
.venv/
env/


# Ignore logs if they get large
logs/